{% if site.mathjax %}
<script type="text/javascript"
    src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
{% endif %}
  {% if site.google_analytics %}
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', '{{ site.google_analytics }}']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
  {% endif %}

<div class="ui inverted vertical footer segment">
  <div class="ui center aligned container">
    <div class="ui divided grid">
      <div class="center column sixteen floated">
      <h4 class="ui inverted header">
        Metamaterial Group, Institute of Materials Science
      </h4>
      
      <p>18 Hoang Quoc Viet, Cau Giay, Ha Noi, Viet Nam, Email: lamvd[at]ims.vast.ac.vn</p>
      </div>
    </div>
  </div>
</div>