  <!-- Sidebar Menu -->

  <div class="ui vertical inverted sidebar menu">
    <a href="/" class="item"><i class="home icon"></i>Home</a>
    <a href="/members.html" class="item"><i class="users icon"></i>Members</a>
    <a href="/research.html" class="item"><i class="student icon"></i>Research</a>
    <a href="/publications.html" class="item"><i class="file pdf outline icon"></i>Publications</a>
    <a href="/collaboration.html" class="item"><i class="translate icon"></i>Collaboration</a>
    <a href="/news.html" class="item"><i class="heartbeat icon"></i>Activities</a>
    <a href="/contact.html" class="item"><i class="doctor icon"></i>Contact</a>
  </div>

<div class="ui large secondary pointing menu">
  <a class="toc item">
            <i class="sidebar icon"></i>
          </a>
  <div class="ui container">
    <a href="/" class="header item">
      METAGROUP IMS
    </a>
    <div class="right menu">
      <a href="/" class="item"><i class="home icon"></i>Home</a>
      <a href="/members.html" class="item"><i class="users icon"></i>Members</a>
      <a href="/research.html" class="item"><i class="student icon"></i>Research</a>
      <a href="/publications.html" class="item"><i class="file pdf outline icon"></i>Publications</a>
      <a href="/collaboration.html" class="item"><i class="translate icon"></i>Collaboration</a>
      <a href="/news.html" class="item"><i class="heartbeat icon"></i>Activities</a>
      <a href="/contact.html" class="item"><i class="doctor icon"></i>Contact</a>
    </div>

  </div>
</div>
