<div class="ui red segment tall stacked aligned">
<div class="ui red header">Research Highlights</div>
<div class="ui very relaxed divided list">
    <div class="item">
      <div class="content">
        <!--<div class="ui header">Thermally tunable</div>-->
        <a href="http://www.nature.com/articles/srep32123" class="ui center">
        <img src="/images/jopt2010.jpg" class="ui image">
        Metamaterial-enhanced vibrational absorption spectroscopy for the detection of protein molecules
        </a>
      </div>
    </div>

    <div class="item">
        <div class="content">
            <a href="" class="ui">
            <img src="/images/apex2012.jpg" class="ui image">
                Broadband negative permeability by hybridized cut-wire pair metamaterials
            </a>
        </div>
    </div>
    <div class="item">
        <div class="content">
            <a href="" class="ui">
            <img src="/images/jopt2010.jpg" class="ui image">
                Highly dispersive transparency in coupled metamaterials
            </a>
        </div>
    </div>

    <div class="item">
        <div class="content">
            <a href="" class="ui">
            <img src="/images/optex2008.jpg" class="ui image">
                Dependence of the distance between cut-wire-pair layers on resonance frequencies
            </a>
        </div>
    </div>
</div>
