<div class="ui red segment tall stacked aligned">
<div class="ui red header">Research Highlights</div>
<div class="ui very relaxed divided list">
  <div class="item">
      <div class="content">
          <a href="https://www.nature.com/articles/s41598-018-29896-4" class="ui">
          <img src="https://media.springernature.com/lw900/springer-static/image/art%3A10.1038%2Fs41598-018-29896-4/MediaObjects/41598_2018_29896_Fig5_HTML.png" class="ui image">
              Application of the basic-DMPA model for the smaller size and the higher operational frequency.
          </a>
      </div>
  </div>


    <div class="item">
      <div class="content">
        <!--<div class="ui header">Thermally tunable</div>-->
        <a href="http://www.nature.com/articles/srep32123" class="ui center">
        <img src="/images/jopt2016.jpg" class="ui image">
        Metamaterial-enhanced vibrational absorption spectroscopy for the detection of protein molecules
        </a>
      </div>
    </div>

    <div class="item">
        <div class="content">
            <a href="" class="ui">
            <img src="/images/physicab.jpg" class="ui image">
                Broadening the absorption bandwidth of metamaterial absorber by coupling three dipole resonances
            </a>
        </div>
    </div>
    <div class="item">
        <div class="content">
            <a href="" class="ui">
            <img src="/images/hien.jpg" class="ui image">
                Broadband negative refractive index obtained by plasmonic hybridization in metamaterials
            </a>
        </div>
    </div>


</div>
