<div class="ui violet segment left aligned">
  <div class="ui violet right ribbon label">HIGHLIGHTED NEWS</div>
  <div class="ui  bulleted list">
    <div class="item">
      <div class="content">
        <b>January 18</b> - Hien Nguyen got her paper accepted in Computational Materials Science. Congratulation!
      </div>
    </div>
    <div class="item">
      <b>January 01</b> - Viet Do's paper got accepted in Applied Physics Express. Congratulation!
    </div>
    <div class="item">
      <b>November 02</b> - 7th IWAMSN
    </div>
    <div class="item">
      <b>October 30</b> - Viet won the 3rd best poster prize for his work presented at ICAMN2014
    </div>
    <div class="item">
      <b>September 24</b> - 1st Meeting on metamaterials and application with CST
    </div>
    <div class="item">
      <b>August 24</b> - Our new paper has been published in JAP 116, 083104 (2014).
    </div>
    <div class="item">
      <b>August 18</b> - Viet has successfully passed his preliminary defend.
    </div>
    <div class="item">
      <b>July 24</b> - Dzung's first paper gets accepted in Journal of Korean Physical Society (Congratulations!)
    </div>

  </div>
</div>

<div class="ui teal segment left aligned">
  <div class="ui teal right ribbon label">OPEN POSITIONS</div>
  <div class="ui bulleted list">
    <div class="item">
      02 Master students.
    </div>
    <div class="item">
      01 PhD student.
    </div>
    <div class="item">
      Bachelor students are always welcome.
    </div>
  </div>
</div>

<div class="ui green segment left aligned">
  <div class="ui green right ribbon label">LINKS</div>
  <div class="ui grid two columns container">
    <div class="row">
      <a class="column ui image" href="http://ims.vast.ac.vn/">
        <img src="http://farm6.staticflickr.com/5460/8988054024_15e8d8a5ec_o.png" alt="IMS">
      </a>
      <a class="column ui image" href="http://www.hanyang.ac.kr/english/">
        <img src="http://farm4.staticflickr.com/3788/8986856257_c5d4ee7e71_o.png" alt="Hanyang">
      </a>
      <a class="column ui image" href="http://www.itims.edu.vn/">
        <img src="http://farm3.staticflickr.com/2851/8988054662_97a481bab5_o.png" alt="ITIMS">
      </a>
      <a class="column ui image" href="http://www.nims.go.jp/eng/">
        <img src="http://farm9.staticflickr.com/8120/8988052036_aa9ef52840_o.png" alt="NIMS">
      </a>
      <a class="column ui image" href="http://www.vietnamequipment.vn/vi/">
        <img src="http://farm9.staticflickr.com/8134/8986870675_d32170a4ca_o.png" alt="">
      </a>
    </div>
  </div>
  </div>
</div>
