<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
<div class="pusher">
  {% include header.html %}

  <div class="ui vertical segment">
    <div class="ui center aligned three column grid container">
      <div class="row">
        <div class="four wide computer only column">
          {% include leftbar.html %}
          </div>
        </div>
        <div class="eight wide computer sixteen wide tablet sixteen wide mobile column left aligned">
          {{content}}
        </div>
        <div class="four wide computer only column">
          {% include rightbar.html %}
        </div>
      </div>
    </div>
  </div>
  </div>
</body>
{% include footer.html %}
<script>
  (function(){
    $('.ui.sidebar').sidebar('attach events', '.toc.item');
  })();
</script>
</html>
